body{
    font-family: Arial, Helvetica, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card{
    border-radius:15px;
}

h2{
    font-weight:bold;
}

/* This pushes the footer to the bottom */
.container{
    flex:1;
}
